In [19]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(24).reshape(6,4),index=pd.date_range(start='20170101',periods=6),columns=['A','B','C','D'])
df

             A   B   C   D
2017-01-01   0   1   2   3
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23

In [20]:
df['diff'] = df['A'].diff(-1, axis = 0)
df

TypeError: diff() got an unexpected keyword argument 'axis'

In [11]:
df['diff'] = df['A'].shift(-1) - df['A']
df['label'] = pd.Series(np.zeros(len(df)))

df.loc[df['diff'] > 0,'label'] = 1
df.loc[df['diff'] <= 0,'label'] = 0
df

             A   B   C   D  label  diff
2017-01-01   0   1   2   3    1.0   4.0
2017-01-02   4   5   6   7    1.0   4.0
2017-01-03   8   9  10  11    1.0   4.0
2017-01-04  12  13  14  15    1.0   4.0
2017-01-05  16  17  18  19    1.0   4.0
2017-01-06  20  21  22  23    NaN   NaN